<div class="row">
  <div class="col-md-8 main-panel">
    <div class="p-3">
      <p>Basic State Change Component</p>

      <div
        [@openClose]="isOpen ? 'open' : 'closed'"
        class="open-close-container"
      >
        <button class="btn btn-primary" (click)="isOpen=!isOpen">
          {{ isOpen ? 'Open' : 'Closed' }}
        </button>
      </div>
    </div>
  </div>

  <div class="col-md-4 info-panel bg-light p-0">
    <p class="m-2">Key Points</p>
    <ul>
      <li class="text-primary mb-1">
        Wild card state: * represents any state including void state. When there
        are more than 2 states and we want to define same animation transition
        among all of those states then use *. Eg * <=> * means any-to-any state
        transition.
      </li>
      <li class="text-primary mb-1">
        Void state: use the void state to configure transitions for an element
        that is entering or leaving a page.
        <br />Eg. * => void OR :leave (Element is leaving) <br />Eg. void => *
        OR :enter (Element is entering regardless of its previous state).
      </li>
    </ul>
  </div>
</div>
