.btn {
  color: white;
}

.btn1 {
  opacity: 1;
  border: 1px solid transparent;
  cursor: pointer;
}
.btn1:hover {
  opacity: 0.8;
  border: 1px solid black;
}

.spinner-border {
  width: 18px;
  height: 18px;
}
